# Required python modules for this project.
# To install all requirement, run
#    pip install -r requirements.txt
#
# also requires pycurl module, which is better installed globally using
#
# sudo apt-get install python-pycurl
#
# or, alternatively,
# sudo apt-get install libcurl4-gnutls-dev
# pip install pycurl


elasticsearch>=2.0.0,<3.0.0
thrift>=0.9.1
tornado>=3.2
tornadoes>=1.4.1

# biothings
git+https://github.com/biothings/biothings.api.git@b0bd655a97b2048796bb30527b02a719a092b7a5#egg=biothings

#for build sphinx docs
sphinx==1.5.6
#sphinx-bootstrap-theme==0.3.1

#for nosetests
nose>=1.3.0
httplib2>=0.8

#for internal API-API querying (mygene-myspecies)
requests>=2.9.1,<2.13

#Optional
msgpack-python
boto

# temp
pymongo
