# -e git+https://github.com/biothings/biothings.api.git@0.12.x#egg=biothings[hub]
biothings[hub, docker] @ git+https://github.com/biothings/biothings.api.git@1.0.x
biopython # refseq
pandas # umls
lxml              # bs4 parsing
