<html>
<body>
<p>This is <a href="http://dev.mygene.info">http://dev.mygene.info</a>, the dev site for v2 <a href="http://mygene.info">MyGene.info</a> API.</p>

<p>
    A few example queries are like these:
    <ul>
        <li><a href="http://dev.mygene.info/gene/1017">http://dev.mygene.info/gene/1017</a></li>
        <li><a href="http://dev.mygene.info/gene/1017?fields=name,symbol,refseq">http://dev.mygene.info/gene/1017?fields=name,symbol,refseq</a></li>
        <li><a href="http://dev.mygene.info/gene/1017?callback=jsonpcallback">http://dev.mygene.info/gene/1017?callback=jsonpcallback</a></li>
    </ul>

    <ul>
        <li><a href="http://dev.mygene.info/query?q=CDK2">http://dev.mygene.info/query?q=CDK2</a></li>
        <li><a href="http://dev.mygene.info/query?q=cdk?">http://dev.mygene.info/query?q=cdk?</a></li>
        <li><a href="http://dev.mygene.info/query?q=refseq:NM_001798">http://dev.mygene.info/query?q=refseq:NM_001798</a></li>
    </ul>

</p>
</body>

</html>
