ES_HOST = 'su07:9200'
#Can specify a EC2 host using name tag:
#ES_HOST = 'ec2:us-west-2:ES_http'
if ES_HOST.startswith('ec2:'):
    from boto.ec2 import connect_to_region
    region, name = ES_HOST[4:].split(':')
    ec2 = connect_to_region(region)
    reservations = ec2.get_all_instances(filters={'tag:Name': name})
    ins = reservations[0].instances[0]
    if ins.state == 'running':
        ES_HOST = '{}:9200'.format(ins.ip_address)
    else:
        raise ValueError('EC2 instance "{}" is not running'.format(ES_HOST[4:]))

ES_INDEX_NAME_TIER1 = None #'genedoc_mygene_current'
ES_INDEX_NAME_ALL = None #'genedoc_mygene_allspecies_current'
ES_INDEX_TYPE = 'gene'

if ES_HOST and ES_INDEX_NAME_TIER1 is None and ES_INDEX_NAME_ALL is None:
    
    import logging

    def get_aliases_indices():
        from elasticsearch import Elasticsearch
        import re
        conn = Elasticsearch(ES_HOST)
        aliases = conn.indices.get_aliases()
        latest_indices = []
        for prefix in ('genedoc_mygene', 'genedoc_mygene_allspecies'):
            pat = prefix + '_current_(\d+)'
            for index in aliases.keys():
                if aliases[index].get("aliases") and re.match(pat,index):
                    latest_indices.append(index)
                    # found, next one
                    break

        return latest_indices

    ES_INDEX_NAME_TIER1, ES_INDEX_NAME_ALL = get_aliases_indices()


#relevant for running in prod
GA_ACCOUNT = 'UA-xxxxxxxx-x'
RUN_IN_PROD = False   # set to True in prod
INCLUDE_DOCS = False# if True, include the links to mygene.info docs
