.indexed-field-table thead th {text-align:left;padding-left:0px !important;padding-bottom:3px !important;padding-top:3px !important;padding-right:10px !important;}
.indexed-field-table tbody td {text-align:left;padding-bottom:2px !important;padding-top:2px !important;padding-left:0px !important;white-space:nowrap;}
.dataTables_wrapper {font-size:13px;padding-bottom:10px;}
.indexed-field-table thead {font-size:14px;}
.italic {font-style:italic;}
.dataTables_filter {float:left !important;}
.dataTables_length {float:right !important;}
.dataTables_filter input[type="search"] {font-size:12px;padding-top:1px;padding-bottom:1px; width:200px;}
.release-info {display:none;border:1px solid grey;padding-left:10px;padding-right:10px;margin-top:3px;margin-left:10px;margin-bottom:10px;}
.release-info pre {overflow-x:auto;font-size:12px;padding-bottom:15px;}
.release-link {margin-left:10px;}
.release-version {font-weight:bold;}
.release-date {font-style: italic; font:monospace; margin-bottom:4px; font-weight: 500}
#mygene-releases h2 {margin-bottom:5px;}
.release-pane {margin-bottom: 6px}
.release-collapse {margin-left:10px;}
.release-expand {margin-right:10px;}
.release-control-line {margin-bottom: 5px;}